# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# =========================
# Environment
# =========================
.env

# =========================
# Database
# =========================
users.db
data/
.pgdata/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Pytest / Type Checking
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Build
# =========================
build/
dist/

# =========================
# Docker
# =========================
docker-compose.override.yml
